[submodule "Assets/Secrets"]
	path = Assets/Secrets
	url = https://sebnil@bitbucket.org/sebnil/shipper-secrets.git
[submodule "Assets/Scripts/Singleton"]
	path = Assets/Scripts/Singleton
	url = https://github.com/sebnil/Singleton.git
[submodule "Assets/SuperUnityBuild"]
	path = Assets/SuperUnityBuild
	url = https://github.com/sebnil/unity-build.git
[submodule "Assets/SuperUnityBuildActions"]
	path = Assets/SuperUnityBuildActions
	url = https://github.com/sebnil/unity-build-actions.git
[submodule "UnityEngine2deb"]
	path = UnityEngine2deb
	url = https://github.com/darealshinji/UnityEngine2deb.git
